/* src/pages/Freelancer/ExploreFreelancer.css */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.freelancer-explore-page {
  font-family: "Pretendard", sans-serif;
  padding: 60px;
  width: 1320px;
  margin: 0 auto;
  overflow-x: hidden;
}

.EF-page-header {
  display: flex;
  width: 100%;
  padding: var(--Icon-Large, 40px);
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  box-sizing: border-box;
}

.EF-page-header-title {
  display: flex;
  padding: var(--Space-400, 16px) 0px var(--Space-400, 16px) 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.EF-page-header-title h1 {
  font-size: 32px;
  font-weight: bold;
  color: #1b1e33;
}

.EF-register-button {
  display: flex;
  height: 50px;
  padding: 20px 36px;
  justify-content: center;
  align-items: center;
  gap: var(--Space-200, 8px);
  cursor: pointer;

  border-radius: 30px;
  border: none;
  background: var(--orange-400, #fd8b3e);

  color: var(--maincolor-white, #fff);
  text-align: center;

  /* body/bold/Large - prominent */
  font-family: "Pretendard";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.EF-page-header-filter {
  display: flex;
  align-items: center;
  gap: var(--Space-300, 12px);
}

.EF-main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  box-sizing: border-box;
  padding: 0;
}

.EF-sidebar {
  display: flex;
  width: 256px;
  padding: var(--Icon-Large, 40px) 36px;
  flex-direction: column;
  align-items: flex-start;
  gap: 55px;
  box-sizing: border-box;
}

.EF-sidebar li {
  cursor: pointer;
}

.EF-sidebar li.active {
  color: var(--orange-400, #fd8b3e);
  font-weight: bold;
}

.EF-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.EF-category h3 {
  color: var(--blue-900, #1b1e33);

  /* title/bold/Medium */
  font-family: "Pretendard";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.EF-category ul {
  margin: 0;
  padding-left: 0;
}
.EF-category li {
  list-style-type: none;
  padding-bottom: 24px;
  color: var(--grayscale-gray800, #aca5a3);
  /* title/medium/Small */
  font-family: "Pretendard";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

.EF-freelancer-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1 1 auto;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: visible;
  display: flex;
}

.EF-pagination-container {
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
