.tag-input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  color: rgba(19, 17, 21, 0.4);
  font-family: "Pretendard";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tags-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #f07a26;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tag button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

input[type="text"] {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
}
