/* src/components/Pagination.css */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  color: var(--maincolor-black, #131115);
  text-align: center;

  /* body/medium/Large */
  font-family: "Pretendard";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pagination button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.pagination button.active {
  color: #fd8b3e;
  border: 2px solid #fd8b3e; /* 주황색 테두리 */
  border-radius: 4px;
}

.pagination img {
  width: 24px;
  height: 24px;
  margin: 0 8px;
  cursor: pointer;
}

.pagination img[style*="not-allowed"] {
  cursor: not-allowed;
}
