/* src/components/Pagination.css */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#pagination-btn {
  display: flex;
  width: var(--Icon-Medium, 32px);
  height: var(--Icon-Medium, 32px);
  padding: 11px 0px 10px 0px;
  justify-content: center;
  align-items: center;

  background-color: var(--white, #ffffff);
  border-radius: var(--Radius-100, 4px);
  border: var(--sds-size-stroke-border) solid var(--orange-400, #fd8b3e);
}

button:disabled {
  background-color: #cccccc;
}

span {
  font-size: 16px;
}
