/* src/components/footer/Footer.css */

/* 공통 스타일 */
.footer {
  display: flex;
  padding: 40px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 63px;
  background: #131115;
}

.footer-container {
  display: flex;
  width: 1440px;
  height: 640px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 63px;
}

.footer-container h4 {
  color: #fd8b3e;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0;
}

/* ul과 li 공통 스타일 */
.footer-container ul {
  padding-left: 0;
  margin: 0;
}

.footer-container li {
  list-style-type: none;
  margin: 10px 0;
}

/* a 링크 스타일 */
.footer-container li a {
  text-decoration: none;
  color: #b76632;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  transition: color 0.3s ease;
}

/* 링크에 대한 hover 효과 */
.footer-container li a:hover {
  color: #fd8b3e; /* 링크 호버 시 색상 변경 */
}

/* 푸터 구조 */
.footer-service,
.footer-page,
.footer-cs {
  width: 240px;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  display: flex;
}
