/* src/components/drop-down/FilterDropDown.css */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.filter-bar-wrapper {
  position: relative;
  display: inline-block;
  z-index: 1000;
}

.filter-dropdown {
  display: flex;
  height: 42px;
  padding: 14px var(--Space-300, 12px);
  align-items: center;
  gap: var(--Space-300, 12px);

  border-radius: var(--Radius-200, 8px);
  border: 1.5px solid var(--grayscale-gray400, #ede5e0);
  background: var(--maincolor-white, #fff);
}

.filter-dropdown p {
  color: var(--maincolor-black, #131115);
  font-family: "Pretendard";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#Caret {
  width: 12px;
  height: 8px;
}

.filter-dropdown img {
  width: 16px;
  height: 21px;
}

.filter-dropdown-container {
  display: flex;
  padding: 18px 14px;
  align-items: flex-start;
  gap: 8px;
  top: calc(100% + 8px);
  position: absolute;
  flex-direction: column;

  border-radius: 16px;
  border: 1px solid var(--grayscale-gray200, #f4efec);
  background: #fff;

  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.04);
}

.filter-column {
  display: flex;
  width: 216px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-100, 4px);
}

.filter-column h3 {
  padding: 15px;
  margin: 0;
  color: var(--maincolor-black, #131115);

  /* body/bold/Large */
  font-family: "pretendard";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-column ul li {
  padding: 15px;
  color: var(--grayscale-gray800, #aca5a3);
  cursor: pointer;

  /* body/bold/Medium */
  font-family: "Pretendard";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.filter-column ul li img {
  margin-right: 8px;
}

.filter-column ul li span {
  font-size: 14px;
  color: #aca5a3;
}

.filter-column ul li.selected span {
  font-weight: bold;
  color: #fd8b3e;
}

/* 적용 버튼 추가로 인한 디자인 */
.filter-apply-button-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0 0;
  gap: calc(var(--Space-100, 4px) * 2);
}

.filter-apply-button {
  background-color: #fd8b3e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.filter-reset-button {
  background-color: #aca5a3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.filter-column-wrapper {
  display: flex;
  gap: 6px;
}
