/* src/components/drop-down/Sort.css */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.sort-dropdown-wrapper {
  position: relative;
  display: inline-block;
  z-index: 1000;
}

.sort-dropdown {
  display: flex;
  height: 42px;
  padding: 14px var(--Space-300, 12px);
  align-items: center;
  gap: var(--Space-300, 12px);

  border-radius: var(--Radius-200, 8px);
  border: 1.5px solid var(--grayscale-gray400, #ede5e0);
  background: var(--maincolor-white, #fff);
}

.selectSort {
  color: var(--maincolor-black, #131115);
  font-family: "Pretendard";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#Caret {
  width: 12px;
  height: 8px;
}

.sort-dropdown img {
  width: 16px;
  height: 21px;
}

/* 드롭다운 아이콘
.sort-dropdown .dropdown-icon {
  margin-left: auto;
}*/

.sort-options {
  display: flex;
  padding: 18px 14px;
  align-items: flex-start;
  gap: 8px;
  top: calc(100% + 8px);
  position: absolute;
  flex-direction: column;

  border-radius: 16px;
  border: 1px solid var(--grayscale-gray200, #f4efec);
  background: #fff;

  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.04);
  z-index: 1000;
  width: 100%;
  min-width: 120px;
}

.sort-options li {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  color: var(--grayscale-gray800, #aca5a3);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.2s ease;
  width: 100%;
  box-sizing: border-box;
}

.sort-options li.selected {
  font-weight: bold;
  color: var(--maincolor-black, #fd8b3e);
}
