/* src/components/drop-down/Sort.css */

/* 전체 래퍼 */
.sort-dropdown-wrapper {
  position: relative;
  display: inline-block;
  height: 42px;
}

/* 정렬 버튼 */
.sort-dropdown {
  display: flex;
  align-items: center;
  gap: var(--Space-300, 12px);

  border-radius: var(--Radius-200, 8px);
  border: 1.5px solid var(--grayscale-gray400, #ede5e0);
  background: var(--maincolor-white, #fff);
}

#Caret {
  width: 12px;
  height: 8px;
}

.sort-dropdown-button img {
  width: 20px;
  height: 21px;
}

/* 드롭다운 메뉴 */
.sort-options {
  top: calc(100% + 8px); /* 버튼 아래 8px */
  display: flex;
  width: 95px;
  padding: 20px var(--Space-300, 12px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-400, 16px);
  border-radius: 16px;
  border: var(--sds-size-stroke-border) solid var(--grayscale-gray200, #f4efec);
  background: #fff;

  /* 컨테이너 */
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.04);
}

.sort-options li {
  display: flex;
  padding: 5px 7px;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.sort-options li:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}
