/* /src/pages/Client/ExploreClient.css */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.client-explore-page {
  font-family: "Pretendard", sans-serif;
  padding: 60px;
  max-width: 1320px;
  margin: 0 auto;
  overflow-x: hidden;
}

.EC-page-header {
  display: flex;
  width: 100%;
  padding: var(--Icon-Large, 40px);
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  box-sizing: border-box;
}

.EC-page-header-title {
  display: flex;
  padding: var(--Space-400, 16px) 0px var(--Space-400, 16px) 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.EC-page-header-title h1 {
  font-size: 32px;
  font-weight: bold;
  color: #1b1e33;
}

.EC-page-header-filter {
  display: flex;
  align-items: center;
  gap: var(--Space-300, 12px);
}

.EC-main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  box-sizing: border-box;
  padding: 0;
}

.EC-sidebar {
  display: flex;
  width: 256px;
  padding: var(--Icon-Large, 40px) 36px;
  flex-direction: column;
  align-items: flex-start;
  gap: 55px;
  box-sizing: border-box;
}

.EC-sidebar li {
  cursor: pointer;
}

.EC-sidebar li.active {
  color: var(--orange-400, #fd8b3e);
  font-weight: bold;
}

.EC-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.EC-category h3 {
  color: var(--blue-900, #1b1e33);

  /* title/bold/Medium */
  font-family: "Pretendard";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.EC-category ul {
  margin: 0;
  padding-left: 0;
}
.EC-category li {
  list-style-type: none;
  padding-bottom: 24px;
  color: var(--grayscale-gray800, #aca5a3);
  /* title/medium/Small */
  font-family: "Pretendard";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

.EC-client-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1 1 auto;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: visible;
  display: flex;
}

.EC-pagination-container {
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
